.navigation-bar{
    background-color: lightblue;
    text-align: center;
    padding: 5px;
    border-radius:2px;
    border-color:green;
    border-width: 2px;
    border: 2px solid black;
    
}


.header{
	background-color:beige;
	text-align:center;
}

.main-content{
	width: 500px;
	display:inline; 
}

.body{
	text-align: center;
	display:inline;
}
p::selection {
  font-weight: bold;
  color: blue;
}
